<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoroot.dao.GreenhouseMapper">
    <resultMap id="BaseResultMap" type="com.taoroot.pojo.Greenhouse">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, user_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from farm_greenhouse
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM farm_greenhouse
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.taoroot.pojo.Greenhouse">
        INSERT INTO farm_greenhouse (name, user_id
        )
        VALUES (#{name,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.taoroot.pojo.Greenhouse">
        insert into farm_greenhouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.taoroot.pojo.Greenhouse">
        update farm_greenhouse
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.taoroot.pojo.Greenhouse">
        UPDATE farm_greenhouse
        SET name    = #{name,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectListByUser" resultType="com.taoroot.pojo.Greenhouse">
        SELECT
        <include refid="Base_Column_List"/>
        FROM farm_greenhouse
        WHERE name LIKE CONCAT(CONCAT('%', #{title}), '%')
        AND user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>